.pricing {
    width: 100%;
    padding: 6rem 1rem;
    background-color: #000;
}

.card-container {
    max-width: 1140px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 40px;
}

.card {
    border: 1px solid #eee;
    color: #eee;
    text-align: center;
    padding: 1rem;
    border-radius: 10px;
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}

.card:hover {
    background-color: #141414;
}

.card::before {
    position: absolute;
    content: "";
    width: 50%;
    height: 180%;
    background: #DAA520;
    transform: rotate(45deg);

}

.card:hover::before {
    animation: animate2 2s linear infinite;
}

.card::after {
    position: absolute;
    content: "";
    inset: 5px;
    background: #000;
    border-radius: 8px;
}

.card:hover::after {
    background: #141414;
}

.card h3 {
    font-size: 1.4rem;
    padding: 1rem;
    z-index: 10;
}

.card p {
    padding: 10px 0;
    z-index: 10;
}

.bar {
    border-bottom: 1px solid #eee;
    width: 10%;
    margin: 1.5rem auto;
    display: block;
    z-index: 10;
}

.btc {
    font-size: 4rem;
    font-weight: 600;
    padding: 1rem 0;
    z-index: 10;
}

.card .btn {
    display: block;
    width: 80%;
    margin: 2rem auto;
    z-index: 10;
}


@media screen and (max-width: 740px) {
    .card-container {
    max-width: 90%;
    margin: auto;
    grid-template-columns: 1fr;
    }
}

@keyframes animate2 {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}